/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/md-light-indigo/theme.css';
@import '~primeng/resources/primeng.css';
@import "~bootstrap/scss/bootstrap";


:root {
  --dark-gray: #585858;
  --original-blue: #3077b8;
  --light-gray: #EFF2F7;
  --font-family: Gotham SSm A, Gotham SSm B, Helvetica, Arial, sans-serif;
  font-family: var(--font-family);
  color: var(--dark-gray);
}


.p-button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-radius: 3px;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-size: .875rem;
  font-family: var(--font-family);
}

.p-button.p-button-outlined {
  color: var(--original-blue);
  border-color: var(--original-blue);
}

.p-button.p-button-primary {
  color: white;
  border-color: var(--original-blue);
  background: var(--original-blue);
}

.p-button.p-button-outlined.p-button-secondary {
  color: var(--dark-gray);
  border-color: var(--dark-gray);
}

.p-inputtext:enabled:hover {
  border-color: var(--dark-gray);
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}


.p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px var(--original-blue);
}

.p-inline-message {
  width: 100%;
  margin-bottom: 1rem;
}
